<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Our Platform</title>
</head>

<body>
    <h1>Hello user</h1>
    <p>Welcome to our API platform! Our site's uptime is <b>{{ healthcheck.uptime }}</b> and status as <b>{{ healthcheck.message }}</b> .</p>
</body>

</html>